.Head {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.dummy {
  height: 75px;
}

header {
  width: 100%;
}

.banner {
  height: 100vh;
  background: #ca5355;
}

.banner * {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
  filter: grayscale(0.5);
}
